/* VARIABLES */
:root {
  --main-accent-color: #d41443;
  --secondary-accent-color: #ffa5ba;
  --btn-hover-color-first: #c7133e;
  --btn-hover-color-second: #ecebeb;
  --main-background-color: #ffb8ca;
  --secondary-background-color: #fff5f6;
  --main-text-color: #ffffff;
  --secondary-text-color: #907e82;

  --main-font-family: 'DM Sans', sans-serif;
  --accent-font-family: 'Titan One', sans-serif;
}
