<section class="section about">
  <div class="container">
    <p class="label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="main-about">
      <picture>
        <source
          srcset="
            ./images/about/desktop/about-cow-desktop-1x.png 1x,
            ./images/about/desktop/about-cow-desktop-2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/about/tablet/about-cow-tablet-1x.png 1x,
            ./images/about/tablet/about-cow-tablet-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/about/mobile/about-cow-mobile-1x.png 1x,
            ./images/about/mobile/about-cow-mobile-2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/about/mobile/about-cow-mobile-2x.png"
          alt="Black-white cow and a carafe of milk"
        />
      </picture>
      <ul class="main-about__list list">
        <li class="main-about__item">
          <p class="main-about__text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
        </li>
        <li class="main-about__item">
          <p class="main-about__text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>
        </li>
        <li class="main-about__item">
          <p class="main-about__text">Aliquam erat volutpat. Aenean accumsan.</p>
        </li>
      </ul>
    </div>
    <button class="read-more" type="button">Read-more</button>
  </div>
</section>
