<section class="advantages-section section">
  <div class="container">
    <ul class="advantages-list list">
      <li class="advantages-item icon-icecream1">
        <p class="advantages-header advantages__title title" id="about">721</p>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-item icon-icecream2">
        <p class="advantages-header advantages__title title">16KG</p>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-item icon-icecream3">
        <p class="advantages-header advantages__title title">84</p>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
