<!-- Customer Reviews.html с слайдером на js -->

<section class="customer-reviews section">

  <!-- скрытый заголовок -->
  <h2 class="customer-reviews__title visually-hidden">Customer Reviews</h2>

  <div class="customer-reviews__container container">
    <ul class="reviews__slides list" id="reviews__slides">
      <li class="reviews__slide  showing">
        <div class="customer-reviews__wrapper">
          <img class="customer-reviews__img" srcset="
            ./images/customer-reviews/costumer-reviews-costumer1-1x.png 1x,
            ./images/customer-reviews/costumer-reviews-costumer1-2x.png 2x"
            src="./images/customer-reviews/costumer-reviews-costumer1-1x.png" alt="personal photo" width="85"
            height="85">
          <div class="customer-reviews__content">
            <div class="customer-reviews__slide">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
              nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </div>
          </div>
          <p class="customer-reviews__name">Emily, Los Angeles</p>
        </div>
      </li>
      <li class="reviews__slide">
        <div class="customer-reviews__wrapper">
          <img class="customer-reviews__img" srcset="
            ./images/customer-reviews/costumer-reviews-costumer2-1x.png 1x,
            ./images/customer-reviews/costumer-reviews-costumer2-2x.png 2x"
            src="./images/customer-reviews/costumer-reviews-costumer2-1x.png" alt="personal photo" width="85"
            height="85">
          <div class="customer-reviews__content">
            <div class="customer-reviews__slide">
              In hendrerit nulla quam
              nunc, accumsan congue.
              Lorem ipsum primis in nibh vel risus.
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem.
            </div>
          </div>
          <p class="customer-reviews__name">Bella, Wellington</p>
        </div>
      </li>
      <li class="reviews__slide">
        <div class="customer-reviews__wrapper">
          <img class="customer-reviews__img" srcset="
            ./images/customer-reviews/costumer-reviews-costumer3-1x.png 1x,
            ./images/customer-reviews/costumer-reviews-costumer3-2x.png 2x"
            src="./images/customer-reviews/costumer-reviews-costumer3-1x.png" alt="personal photo" width="85"
            height="85">
          <div class="customer-reviews__content">
            <div class="customer-reviews__slide">
              Quisque cursus et, porttitor risus.
              Nullam viverra consectetuer.
              Aliquam sem. In hendrerit nulla quam
              nunc,
              accumsan congue. Lorem ipsum primis in nibh vel risus.
            </div>
          </div>
          <p class="customer-reviews__name">Cathy, New York</p>
        </div>
      </li>
    </ul>
    <div id="reviews__buttons"></div>
  </div>
</section>

<!-- Слайдер отзывов клиентов customer-slider-reviews.js -->
<!-- переключение между страницами вручную . начальное положение первой стрницы отмечено домиком . кнопки реализованы скриптом -->
<!-- подключерие: customer-slider-reviews.js в папку js, в текущей папке <script src="../js/customer-slider-reviews.js"></script> -->

<script>
  var slides = document.querySelectorAll('#reviews__slides .reviews__slide');
  var buttonsContainer = document.querySelector('#reviews__buttons');
  var slidesButtons = [];

  var currentSlide = 0;
  var slideInterval = null;

  createSlidesButtons();

  function createSlidesButtons() {
    slides.forEach((slide, i) => {
      let button = document.createElement('button')
      button.style.display = 'inline-block';
      if (i === 0) {
        button.classList.add('reviews__button-home');
      } else {
        button.classList.add('reviews__button');
      }
      if (currentSlide === i) {
        button.classList.add('reviews__button-active');
      }
      button.setAttribute('data-slide-index', i);
      button.onclick = () => goToSlide(i);
      slidesButtons.push(button);
      buttonsContainer.appendChild(button);
    })
  }

  function nextSlide() {
    goToSlide(currentSlide + 1);
  }

  function previousSlide() {
    goToSlide(currentSlide - 1);
  }

  function goToSlide(n) {
    slidesButtons[currentSlide].classList.remove('reviews__button-active');
    slides[currentSlide].className = 'reviews__slide';
    currentSlide = (n + slides.length) % slides.length;
    slides[currentSlide].className = 'reviews__slide showing';
    slidesButtons[currentSlide].classList.add('reviews__button-active');
  }

  function pauseSlideshow() {
    clearInterval(slideInterval);
  }

  function playSlideshow() {
    slideInterval = setInterval(nextSlide, 2000);
  }
</script>