<!-- Customer Reviews.html -->
  <section class="custom-reviews section">
    <!-- скрытый заголовок -->
    <h2 class="custom-reviews__title">Customer Reviews</h2>
    <img class="custom-reviews__img" srcset="./images/customer-reviews/costumer-reviews-costumer1-1x.png 1x,
      ./images/customer-reviews/costumer-reviews-costumer1-2x.png 2x"
      src="./images/customer-reviews/costumer-reviews-costumer1-1x.png" alt="personal photo" width="85" height="85">
    <div class="custom-reviews__slide">
      <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
        accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
    </div>
    <p class="custom__name">Emily, Los Angeles</p>
  </section>
