<footer>
  <div class="container">
    <p class="label">homemade ice cream made</p>
    <h2>with passion</h2>
    <ul class="list">
      <li>
        <a href="https://github.com/" target="_blank" rel="noopener noreferrer" class="link"
          >github</a
        >
      </li>
      <li>
        <a href="https://web.telegram.org/z/" target="_blank" rel="noopener noreferrer" class="link"
          >telegram</a
        >
      </li>
      <li>
        <a href="https://facebook.com/" target="_blank" rel="noopener noreferrer" class="link"
          >facebook</a
        >
      </li>
    </ul>
    <p>
      Feel free to contact <a href="tel:+61 (0) 383 766 284" class="link">+61 (0) 383 766 284</a>
    </p>
    <p>&copy; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
