<section class="section gallery">
  <div class="container">
    <!-- <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/gallery/desktop/gallery-img-desktop-1x.png 1x,
          ./images/gallery/desktop/gallery-img-desktop-2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/gallery/tablet/gallery-img-tablet-1x.png 1x,
          ./images/gallery/tablet/gallery-img-tablet-2x.png 2x
        "
      />
      <source
        media="(max-width: 320px)"
        srcset="
          ./images/gallery/mobile/gallery-img-mobile-1x.png 1x,
          ./images/gallery/mobile/gallery-img-mobile-2x.png 2x
        "
      />
      <img
        class="gallery__image"
        src="./images/gallery/mobile/gallery-img-mobile-1x.png"
        alt="Gallery ice cream"
      />
    </picture> -->
    <div class="grid">
      <div class="grid-item">
        <img src="./images/gallery/masonry/ice-cream-1-min.jpg" alt="" />
      </div>

      <div class="grid-sizer">
        <div class="grid-item">
          <img src="./images/gallery/masonry/ice-cream-2-min.jpg" alt="" />
        </div>
        <div class="grid-item">
          <img src="./images/gallery/masonry/ice-cream-3-min.jpg" alt="" />
        </div>
      </div>

      <div class="grid-sizer grid-sizer--width2">
        <div class="grid-item grid-item--width2 grid-item--height2">
          <img src="./images/gallery/masonry/ice-cream-4-min.jpg" alt="" />
        </div>
        <div class="grid-item">
          <img src="./images/gallery/masonry/ice-cream-5-min.jpg" alt="" />
        </div>
      </div>

      <div class="grid-sizer">
        <div class="grid-item">
          <img src="./images/gallery/masonry/ice-cream-6-min.jpg" alt="" />
        </div>
        <div class="grid-item">
          <img src="./images/gallery/masonry/ice-cream-7-min.jpg" alt="" />
        </div>
      </div>

      <div class="grid-sizer">
        <div class="grid-item">
          <img src="./images/gallery/masonry/ice-cream-8-min.jpg" alt="" />
        </div>
        <div class="grid-item">
          <img src="./images/gallery/masonry/ice-cream-9-min.jpg" alt="" />
        </div>
      </div>

      <div class="grid-item">
        <img src="./images/gallery/masonry/ice-cream-10-min.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
