<header>
    <nav>
        <ul>
            <li>
                <a href="/src/index.html">
                    <img 
                    srcset="../images/hero-header/hero-header-lgo-1x.png 1x, ../images/hero-header/hero-header-logo-2x.png 2x"
                    src="../images/hero-header/hero-header-lgo-1x.png" alt="Burger-icon">
                </a>
            </li>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">About us</a>
            </li>
            <li>
                <a href="">How it’s made?</a>
            </li>
            <li>
                <a href="">Our products</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
        <button type="button">
            <svg width="20" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 1h20M0 7h20M0 13h20" stroke="#D41443" />
            </svg>
        </button>
    <button type="button">Buy now</button>
    </nav>
</header>

<body>
    <h1>ice cream made with passion</h1>
    <ul>
        <li>
            <a href="./products.html">Products</a>
        </li>
        <li>
            <a href="./about.html">How it’s made?</a>
        </li>
    </ul>
</body>

<div class="mobile-menu">
    <button type="button">Buy now</button>
    <ul>
        <li>
            <a href="">Home</a>
        </li>
        <li>
            <a href="">About us</a>
        </li>
        <li>
            <a href="">How it’s made?</a>
        </li>
        <li>
            <a href="">Our products</a>
        </li>
        <li>
            <a href="">Contact</a>
        </li>
    </ul>
    <button type="button">
        <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="m1.26 1 13.48 14M1 14.74 15 1.26" stroke="#fff" />
        </svg>
    </button>
</div>