<section class="hero section">
  <div class="container">
    <h1>ice cream made with passion</h1>
    <ul class="list">
      <li>
        <a href="#" class="link">Products</a>
      </li>
      <li>
        <a href="#" class="link">How it’s made?</a>
      </li>
    </ul>

    <div class="mobile-menu">
      <button type="button">Buy now</button>
      <ul class="list">
        <li>
          <a href="" class="link">Home</a>
        </li>
        <li>
          <a href="" class="link">About us</a>
        </li>
        <li>
          <a href="" class="link">How it’s made?</a>
        </li>
        <li>
          <a href="" class="link">Our products</a>
        </li>
        <li>
          <a href="" class="link">Contact</a>
        </li>
      </ul>
      <button type="button">
        <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
