<section class="hero section">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__label">
        ice cream
        <br />
        made with <br />
        <span class="hero__title">passion</span>
      </h1>

      <!-- Progress -->
      <ul class="hero__progress">
        <li class="hero__progress-list hero__progress-list--top list">
          <p class="hero__progress-number hero__progress-number--top">
            16 <span class="hero__progress-text hero__progress-text--top">cafes</span>
          </p>
        </li>

        <li class="hero__progress-list hero__progress-list--bottom list">
          <p class="hero__progress-number hero__progress-number--bottom">
            23 <span class="hero__progress-text hero__progress-text--bottom">food trucks</span>
          </p>
        </li>
      </ul>
    </div>

    <!-- Button -->
    <ul class="hero__button list">
      <li class="hero__button-item">
        <button class="btn hero__btn--red" type="button">
          <a href="#products" class="hero__link--red link">Products</a>
        </button>
      </li>
      <li class="hero__button-item">
        <button class="btn hero__btn--white">
          <a href="#about" class="hero__link--white link">How it’s made?</a>
        </button>
      </li>
    </ul>

    <!-- Hero about -->
    <div class="hero__about">
      <p class="hero__about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <img
        class="hero__about-img"
        srcset="
          ./images/hero-header/desktop/hero-header-arrow-desktop-1x.png 1x,
          ./images/hero-header/desktop/hero-header-arrow-desktop-2x.png 2x
        "
        src="./images/hero-header/desktop/hero-header-arrow-desktop-1x.png"
        alt="Arrow"
      />
    </div>

    <!-- Ice cream -->
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/hero-header/desktop/hero-header-icecream-desktop-1x.png 1x,
          ./images/hero-header/desktop/hero-header-icecream-desktop-2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero-header/tablet/hero-header-icecream-tablet-1x.png 1x,
          ./images/hero-header/tablet/hero-header-icecream-tablet-2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero-header/mobile/hero-header-icecream-mobile-1x.png 1x,
          ./images/hero-header/mobile/hero-header-icecream-mobile-2x.png 2x
        "
      />
      <img
        class="hero__img--icecream"
        src="./images/hero-header/mobile/hero-header-icecream-mobile-1x.png"
        alt="Ice cream"
      />
    </picture>

    <!-- Milk -->
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/hero-header/desktop/hero-header-milk-desktop-1x.png 1x,
          ./images/hero-header/desktop/hero-header-milk-desktop-2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero-header/tablet/hero-header-milk-tablet-1x.png 1x,
          ./images/hero-header/tablet/hero-header-milk-tablet-2x.png 2x
        "
      />
      <img
        class="hero__img--milk"
        src="./images/hero-header/tablet/hero-header-milk-tablet-1x.png"
        alt="Milk"
      />
    </picture>

    <!-- Girl -->
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/hero-header/desktop/hero-header-girl-desktop-1x.png 1x,
          ./images/hero-header/desktop/hero-header-girl-desktop-2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero-header/tablet/hero-header-girl-tablet-1x.png 1x,
          ./images/hero-header/tablet/hero-header-girl-tablet-2x.png 2x
        "
      />
      <img
        class="hero__img--girl"
        src="./images/hero-header/tablet/hero-header-girl-tablet-1x.png"
        alt="Girl"
      />
    </picture>
  </div>
</section>
