<section id="products" class="product-section section">
  <div class="container">
    <div class="title-section">
      <p class="title-section-products">100% natural</p>
      <h2 class="products-text-title">products</h2>
    </div>

    <ul class="products__list list">
      <li class="products__item item-elements-one">
        <!-- <div class="ice-cream-one">
          <picture>
            <source
              srcset="
                ./images/products/desktop/products-ice1-desktop-1x.png 1x,
                ./images/products/desktop/products-ice1-desktop-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/products/tablet/products-ice1-tablet-1x.png 1x,
                ./images/products/tablet/products-ice1-tablet-2x.png 2x
              "
              media="(min-width:768px)"
            />

            <source
              srcset="
                ./images/products/mobile/products-ice1-mobile-1x.png 1x,
                ./images/products/mobile/products-ice1-mobile-2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img src="./images/products/desktop/products-ice1-desktop-1x.png" alt="" />
          </picture>
        </div> -->
        <div class="content">
          <h4 class="ice-cream-title">ice cream</h4>
          <span class="points"></span>
          <p class="discription-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
            <button class="arrow-right" type="button" title="Click me!!!" data-discription-open ></button>
            <div class="discripion-window ice-cream is-hidden" data-discription>
                <button type="button" class="btn-close" data-discription-close >
                  <svg class="discription-close" width="10" height="10">
                    <use href="./images/icons.svg#icon-close"></use>
                  </svg>
                </button>
              <p class="inner-text  ">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia, quisquam.
              </p>
           
        </div>
      </li>

      <li class="products__item item-elements-second">
        <!-- <div class="ice-cream-one">
          <picture>
            <source
              srcset="
                ./images/products/desktop/products-ice2-desktop-1x.png 1x,
                ./images/products/desktop/products-ice2-desktop-2x.png 2x
              "
              media="(min-width:1280px)"
            />

            <source
              srcset="
                ./images/products/tablet/products-ice2-tablet-1x.png 1x,
                ./images/products/tablet/products-ice2-tablet-2x.png 2x
              "
              media="(min-width:768px)"
            />

            <source
              srcset="
                ./images/products/mobile/products-ice2-mobile-1x.png 1x,
                ./images/products/mobile/products-ice2-mobile-2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img src="./images/products/desktop/products-ice2-desktop-1x.png" alt="" />
          </picture>
        </div> -->
        <div class="content">
          <h4 class="ice-cream-title">ice coffee</h4>
          <span class="points"></span>

          <p class="discription-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          
            <button class="arrow-right" type="button" title="Click me!!!" data-discription-open-2 ></button>
             <div class="discripion-window ice-coffee is-hidden" data-discription-2 >
                <button type="button" class="btn-close" data-discription-close-2>
                  <svg class="discription-close" width="10" height="10">
                    <use href="./images/icons.svg#icon-close"></use>
                  </svg>
                </button>
              <p class="inner-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia, quisquam.
              </p>
         
        </div>
      </li>
      <li class="products__item item-elements-three">
        <!-- <div class="ice-cream-one">
          <picture>
            <source
              srcset="
                ./images/products/desktop/products-ice3-desktop-1x.png 1x,
                ./images/products/desktop/products-ice3-desktop-2x.png 2x
              "
              media="(min-width:1280px)"
            />

            <source
              srcset="
                ./images/products/tablet/products-ice3-tablet-1x.png 1x,
                ./images/products/tablet/products-ice3-tablet-2x.png 2x
              "
              media="(min-width:768px)"
            />

            <source
              srcset="
                ./images/products/mobile/products-ice3-mobile-1x.png 1x,
                ./images/products/mobile/products-ice3-mobile-2x.png 2x
              "
              media="(min-width:320px)"
            />
            <img src="./images/products/desktop/products-ice3-desktop-1x.png" alt="" />
          </picture>
        </div> -->
        <div class="content">
          <h4 class="ice-cream-title">milkshakes</h4>
          <span class="points"></span>
          <p class="discription-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="arrow-right " type="button" title="Click me!!!" data-discription-open-3></button>
          <div class="discripion-window milk-shakes is-hidden"  data-discription-3>
            <button type="button" class="btn-close" data-discription-close-3>
                <svg class="discription-close" width="10" height="10">
                  <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <p class="inner-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia, quisquam.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<script src="/js/discription.js"></script>
