<section class="product-section section">
  <div class="container">
    <p class="title-section-products">100% natural</p>
    <h2 class="products-text-title">products</h2>
    <ul class="products list">
      <li class="products__item  item-elements-one">
        
        <picture>
        <source
        srcset="
        ./images/products/desktop/products-ice1-desktop-1x.png 1x, 
        ./images/products/desktop/products-ice1-desktop-2x.png 2x" 
         media="(min-width:1280px)"/> 
          <source srcset="
                  ./images/products/tablet/products-ice1-tablet-1x.png 1x, 
                  ./images/products/tablet/products-ice1-tablet-2x.png 2x" 
                    media="(min-width:768px)" />

                  <source srcset="
                          ./images/products/mobile/products-ice1-mobile-1x.png 1x, 
                          ./images/products/mobile/products-ice1-mobile-2x.png 2x" 
                            media="(min-width:320px)" />
         <img  class="ice-cream-one" src="/images/products/desktop/products-ice1-desktop-1x.png" width="249" height="252" alt="">

        </picture>
        <h4 class="ice-cream-title">ice cream</h4>
        <p class="discription-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>

      <li class="products__item item-elements-second">
       
          <source srcset="
                  ./images/products/desktop/products-ice2-desktop-1x.png 1x, 
                  ./images/products/desktop/products-ice2-desktop-2x.png 2x"
                   media="(min-width:1280px)" />

                             <source srcset="
                            ./images/products/tablet/products-ice2-tablet-1x.png 1x, 
                            ./images/products/tablet/products-ice2-tablet-2x.png 2x"
                                media="(min-width:768px)" />
          
                               <source srcset="
                                    ./images/products/mobile/products-ice2-mobile-1x.png 1x, 
                                    ./images/products/mobile/products-ice2-mobile-2x.png 2x" 
                                         media="(min-width:320px)" />
                                            <img src="/images/products/desktop/products-ice2-desktop-1x.png" alt="">
          
          </picture>
          <h4 class="ice-cream-title">ice coffee</h4>
        
        <p  class="discription-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
      <li class="products__item item-elements-three">
       
                   <source srcset="
                          ./images/products/desktop/products-ice3-desktop-1x.png 1x, 
                          ./images/products/desktop/products-ice3-desktop-2x.png 2x" 
                              media="(min-width:1280px)" />
        
                         <source srcset="
                                    ./images/products/tablet/products-ice3-tablet-1x.png 1x, 
                                    ./images/products/tablet/products-ice3-tablet-2x.png 2x" 
                                         media="(min-width:768px)" />
        
        <source srcset="
                                            ./images/products/mobile/products-ice3-mobile-1x.png 1x, 
                                            ./images/products/mobile/products-ice3-mobile-2x.png 2x"
          media="(min-width:320px)" />
        <img src="/images/products/desktop/products-ice3-desktop-1x.png" alt="">
        
        </picture>
        
          <h4 class="ice-cream-title">milkshakes</h4>
        <p  class="discription-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
    </ul>
  </div>
</section>
