/* BTN */
.btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  margin: 0 auto;

  text-align: center;

  border: none;
  cursor: pointer;
}

.header__btn {
  width: 209px;
  height: 44px;
  @media screen and (min-width: 768px) {
    width: 160px;
  }

  @include font(700, 16, 21);
  border-radius: 22px;

  color: var(--main-accent-color);
  background: var(--main-text-color);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color-second);
  }
}

.header__btn--menu {
  width: 209px;
  height: 44px;
  @media screen and (min-width: 768px) {
    width: 186px;
  }

  @include font(700, 16, 21);
  border-radius: 22px;

  color: var(--main-accent-color);
  background: var(--main-text-color);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color-second);
  }
}

.hero__btn--red {
  width: 61px;
  height: 24px;

  @include font(400, 8, 10);
  border-radius: 20px;

  @media screen and (min-width: 1280px) {
    width: 104px;
    height: 40px;
    @include font(400, 14, 18);
  }

  color: var(--main-text-color);
  background: var(--main-accent-color);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color-first);
  }
}

.hero__btn--white {
  width: 83px;
  height: 24px;
  @media screen and (min-width: 1280px) {
    width: 138px;
  }

  @include font(400, 8, 10);
  border-radius: 20px;

  @media screen and (min-width: 1280px) {
    width: 138px;
    height: 40px;
    @include font(400, 14, 18);
  }

  color: var(--main-accent-color);
  background: var(--main-text-color);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color-second);
  }
}

.about__btn {
  width: 176px;
  height: 44px;
  padding: 0;
  margin: 0;

  @include font(700, 16, 21);
  border-radius: 22px;
  border: none;

  color: var(--main-accent-color);
  background: var(--main-text-color);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color-second);
  }
}

.contacts__btn--red {
  width: 161px;
  height: 44px;
  @media screen and (min-width: 768px) {
    width: 191px;
  }
  @media screen and (min-width: 1280px) {
    width: 198px;
  }

  @include font(700, 16, 21);
  border-radius: 22px;

  color: var(--main-text-color);
  background: var(--main-accent-color);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color-first);
  }
}

.contacts__btn--white {
  width: 161px;
  height: 44px;
  @media screen and (min-width: 768px) {
    width: 174px;
  }
  @media screen and (min-width: 1280px) {
    width: 180px;
  }

  @include font(700, 16, 21);
  border-radius: 22px;

  color: var(--main-accent-color);
  background: var(--btn-hover-color-second);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color-second);
  }
}
