/* CUSTOMER-REVIEWS */

.customer-reviews__container{
   display: flex;
   flex-direction: column;
   align-items: center;
   }

.customer-reviews__wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 926px;
}

.customer-reviews__img{
   border-radius: 50%;
   width: 85px;
   height: 85px;
   @media screen and (max-width: 767px){
      margin-bottom: 29px;
   }
   @media screen and (min-width: 768px){
      margin-bottom: 19px;
   }
   @media screen and (min-width: 1200px){
   margin-bottom: 15px;
   }
}

.customer-reviews__content{
   display: block;
   @media screen and (max-width: 767px){
   max-width: 280px;
   min-height: 308px;
   @include font(500, 12, 30, 0.0);
   padding-top: 68px;
   padding-bottom: 26px; 
   padding-left: 66px;
   padding-right: 66px;
   margin-bottom: 48px;
   }
   @media screen and (min-width: 768px) and (max-width: 1199px){
      width: 620px;
      min-height: 164px;
      @include font(500, 16, 30, 0.04);
      padding-top: 47px;
      padding-bottom: 34px; 
      padding-left: 80px;
      padding-right: 80px;
      margin-bottom: 42px;
   }
   @media screen and (min-width: 1200px){
   width: 926px;
   min-height: 138px;
   @include font(500, 16, 30, 0.04);
   padding-top: 47px;
   padding-bottom: 34px; 
   padding-left: 80px;
   padding-right: 80px;
   margin-bottom: 34px;
   }
   text-align: center;
   background-color: #FAFAFA;
   color: #000;
   position: relative;

   // псевдоэлемент кавычки

   &::before{
      display: block;
      content: " " ;
      width: 54px;
      height: 40px;
      background-image: url("../images/customer-reviews/costumer-reviews-quote-1x.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      @media screen and (max-width: 767px){
         left: 60px;
         top: 25px;
      }
      @media screen and (min-width: 768px) and (max-width: 1199px){
         left: 70px;
         top: 23px;
      }
      @media screen and (min-width: 1200px){
      left: 60px;
      top: 25px;
      }  
   }

   // псевдоэлемент три точки

   &::after{
      content: '•••';
   position: absolute;
   transform: translate(-50%, -50%);
   font-size: 15px; 
   letter-spacing: 8px;
   @media screen and (max-width: 767px){
   top: 110%;
   left: 51.5%;
   }
   @media screen and (min-width: 768px){
   top: 115%;
   left: 51%;
   }
   @media screen and (min-width: 1200px){
      top: 110%;
      left: 50.5%;
   }
   color: var(--btn-hover-color-first);
   }
}

// подчеркивание в ввиде градиента (repeating-linear-gradients)

.customer-reviews__slide{
   @media screen and (max-width: 767px){
      transform: scale(1.2, 1.3);
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      height: 100%;
   }
   @media screen and (min-width: 768px){
      transform: scale(1, 1);
      width: 460px;
      padding-left: 18px;
      padding-right: 18px;
   }
   @media screen and (min-width: 1200px){
      width: 780px; 
   }
   margin: 0 auto;
   line-height: 20px;
   background-image: 
   repeating-linear-gradient(180deg, transparent, transparent 18px, #E1E1E1 20px);
   color: #000;
}

.customer-reviews__name{
   @media screen and (max-width: 767px){
@include font(500, 20, 26, 0.0);
text-align: center;
   }
   @media screen and (min-width: 768px){
@include font(500, 20, 37, 0.0);
   }
   @media screen and (min-width: 1200px){   
@include font(500, 20, 37, 0.0);
   }
color: #000;
}

// Слайдер отзывов
// последовательность обязательна
#reviews__slides{
   position: relative;
   @media screen and (max-width: 768px){
   height: 500px;
   }
}

.reviews__slide{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: opacity 1s;
   -moz-transition: opacity 1s;
   -o-transition: opacity 1s;
   transition: opacity 1s;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.showing{
   position: absolute;
   opacity: 1;
   visibility: visible;
   width: 100%;
   height: 100%;
   clip: inherit;
}

#reviews__buttons{
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   font-size: 0px;
   display: flex;
   justify-content: space-between;
   width: 73px;
   @media screen and (max-width: 767px){
      margin-top: 30px; 
   }
   @media screen and (min-width: 768px){
   margin-top: 35px;
   }
   @media screen and (min-width: 1200px){
   margin-top: 35px;
}
}

// не переставлять
.reviews__slide{
   position: relative;
}

// свойства кнопок реализованных скриптом
.reviews__button{
width: 15px;
height: 15px;
border-radius: 50%; 
border: none;
background-color: #D9D9D9;
cursor: pointer;
}

.reviews__button.reviews__button-active{
   background-color: var(--btn-hover-color-first);
}

.reviews__button-home{
   background-image: url(../images/customer-reviews/costumer-reviews-house-1x.png);
   background-color: white;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   filter: grayscale(1);
   width: 17px;
   height: 17px; 
   background-repeat: no-repeat;
   opacity: 0.3;
   border: none;
   cursor: pointer;
}

.reviews__button-home.reviews__button-active{
   filter: unset;
   opacity: 1;
}

