/* CUSTOMER-REVIEWS */


// custom-reviews

.customer-reviews{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.customer-reviews__title{
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.customer-reviews__wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 926px;
}

.customer-reviews__img{
   border-radius: 50%;
   width: 85px;
   height: 85px;
   @media screen and (max-width: 767px){
      margin-bottom: 29px;
   }
   @media screen and (min-width: 768px){
      margin-bottom: 19px;
   }
   @media screen and (min-width: 1200px){
   margin-bottom: 15px;
   }
}

.customer-reviews__content{
   background-color: #FAFAFA;
   display: block;
   font-family: DM Sans;
   @media screen and (max-width: 767px){
   max-width: 280px;
   min-height: 308px;
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: 2.58;
   letter-spacing: 0em;
   padding-top: 68px;
   padding-bottom: 26px; 
   padding-left: 66px;
   padding-right: 66px;
   margin-bottom: 48px;
   }
   @media screen and (min-width: 768px) and (max-width: 1199px){
      width: 620px;
      min-height: 164px;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.87;
      letter-spacing: 0.04em;
      padding-top: 47px;
      padding-bottom: 34px; 
      padding-left: 80px;
      padding-right: 80px;
      margin-bottom: 42px;
   }
   @media screen and (min-width: 1200px){
   width: 926px;
   min-height: 138px;
   font-size: 16px;
   font-style:normal;
   font-weight: 500;
   line-height:1.87;
   letter-spacing: 0.04em;
   padding-top: 47px;
   padding-bottom: 34px; 
   padding-left: 80px;
   padding-right: 80px;
   margin-bottom: 34px;
   }
   text-align: center;
   color: #000;
   position: relative;
}

// псевдоэлемент три точки

.customer-reviews__content::after{
   content: '•••';
   position: absolute;
   transform: translate(-50%, -50%);
   font-size: 15px; 
   letter-spacing: 8px;
   @media screen and (max-width: 767px){
   top: 110%;
   left: 51%;
   }
   @media screen and (min-width: 768px){
   top: 115%;
   left: 51%;
   }
   @media screen and (min-width: 1200px){
      top: 110%;
      left: 51%;
   }
   color: #C7133E;
}

// подчеркивание в ввиде градиента (repeating-linear-gradients)

.customer-reviews__slide{
   color: #000;
   @media screen and (max-width: 767px){
      transform: scale(1.2, 1.3);
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      height: 100%;
   }
   @media screen and (min-width: 768px){
      transform: scale(1, 1);
      width: 460px;
      padding-left: 18px;
      padding-right: 18px;
   }
   @media screen and (min-width: 1200px){
      width: 750px; 
   }
   margin: 0 auto;
   line-height: 20px;
   background-image: 
   repeating-linear-gradient(180deg, transparent, transparent 18px, #E1E1E1 20px);
}

// псевдоэлемент кавычки

.customer-reviews__content::before{
   display: block;
   content: " " ;
   width: 54px;
   height: 40px;
   background-image: url("../images/customer-reviews/costumer-reviews-quote-1x.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: absolute;
   @media screen and (max-width: 767px){
      left: 60px;
      top: 25px;
   }
   @media screen and (min-width: 768px) and (max-width: 1199px){
      left: 70px;
      top: 23px;
   }
   @media screen and (min-width: 1200px){
   left: 60px;
   top: 25px;
   }
}

.customer-reviews__name{
   @media screen and (max-width: 767px){
   font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.86;
letter-spacing: 0em;
text-align: center;
margin-bottom: 30px;
   }
   @media screen and (min-width: 768px){
      font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height:1.87;
letter-spacing: 0em;
margin-bottom: 35px;
   }
   @media screen and (min-width: 1200px){
         font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.85;
letter-spacing: 0em;
margin-bottom: 35px;
   }
color: #000;
}

.customer-reviews__icon{
   display: flex;
   justify-content: space-between;
   width: 73px;
}

.customer-icon__ellipse{
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #D9D9D9;
}

