/* HEADER */
.header {
  background-color: #ffb8ca;
}
.header-nav {
  padding: 6px 20px;
  @media screen and(min-width:768px) {
    padding-top: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header-nav__menu {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.logo {
  width: 199px;
  height: 50px;
}
.mobile-menu {
  position: relative;
  padding: 60px 21px;
  width: 100vw;
  height: 100vh;
  background-color: #e17992;
}
.header__btn--close {
  position: absolute;
  right: 28px;
  top: 23px;
  background-color: #e17992;
}
.header__btn--open {
  color: var(--main-accent-color);
  background: var(--main-background-color);
  position: absolute;
  @media screen and (max-width: 767px) {
    top: 25px;
    right: 20px;
  }
  @media screen and(min-width:768px) and(max-width:1199px) {
    top: 60%;
    right: 30%;
  }
  @media screen and (min-width: 1199px) {
    display: none;
  }
}
.header-nav__list {
  @media screen and(max-width:1199px) {
    display: none;
  }
  @media screen and(min-width:1199px) {
    display: flex;
  }
}
.header-nav__text {
  color: var(--main-text-color);
  text-decoration-line: none;
  @include font(700, 16, 21);
  font-family: var(--main-font-family);

  &:hover,
  :focus {
    color: var(--main-accent-color);
  }
}
.mob-menu__btn {
  margin-bottom: 19px;
}
.mob-menu__list {
  border-bottom: 1px solid #e18298;
  padding-top: 13px;
  padding-bottom: 11px;
}
.mob-menu__text {
  color: var(--main-text-color);
  text-decoration-line: none;
  @include font(700, 14, 18);
  font-family: var(--main-font-family);

  &:hover,
  :focus {
    color: var(--main-accent-color);
  }
}
