/* HERO */
.hero {
	position: relative;
	background-color: var(--main-background-color);
}

.hero__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.hero__label {
	max-width: 218px;
	margin-bottom: 35px;

	font-family: "Titan One", sans-serif;
	@include font(400, 26, 30);
	text-transform: uppercase;
	color: var(--main-text-color);
}

.hero__title {
	font-family: "Titan One", sans-serif;
	font-size: 48px;
	line-height: 46px;
	// @include font(400, 48, 46);
}

.hero__button {
	@include flex-center();
}

.btn {
	margin-right: 8px;
}

.hero__img {
	width: 171px;
	// position: relative;
}

.hero__img--icecream {
	position: absolute;
	bottom: 0;
	right: 32px;

	// background-color: #ffa5ba;
	// border-radius: 50%;
	// &::after {
	// 	content: "";
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
	// 	width: 345px;

	// 	background-color: red;
	// 	border-radius: 50%;
	// }
}
