/* HERO */
.hero {
  overflow: hidden;
  background-color: var(--main-background-color);
  padding-top: 110px;
  padding-bottom: 160px;
  // background-image: radial-gradient(circle closest-side at top 50% left 66%, #ffa5ba 160%, transparent 161%);
  // background-image: radial-gradient(circle at bottom 247px right 110px, #ffa5ba 172px, transparent 172px);

  @media screen and (min-width: 768px) {
      overflow: visible;
    padding-top: 4px;
    padding-bottom: 34px;
    // background-image: radial-gradient(circle closest-side at top 50% right 40%, #ffa5ba 90%, transparent 50%);
    // background-image: radial-gradient(circle at bottom 207px right 264px, #ffa5ba 161px, transparent 161px);
  }
  @media screen and (min-width: 1280px) {
      overflow: visible;
    padding-bottom: 56px;
    padding-top: 70px;
    // background-image: radial-gradient(circle closest-side at top 50% right 44%, #ffa5ba 88%, transparent 50%);
    // background-image: radial-gradient(circle at bottom 344px right 427px, #ffa5ba 269px, transparent 269px);
  }
}

.hero__content {
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__label {
  max-width: 218px;
  font-family: 'Titan One', sans-serif;
  @include font(400, 26, 30);
  text-transform: uppercase;
  color: var(--main-text-color);

  @media screen and (min-width: 768px) {
    max-width: 162px;
    @include font(400, 22, 25);
  }
  @media screen and (min-width: 1280px) {
    max-width: 277px;
    @include font(400, 38, 44);
  }
}

.hero__title {
  font-family: var(--accent-font-family);
  font-size: 48px;
  line-height: 46px;
  color: var(--main-accent-color);
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 31px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 52px;
  }
}

// Progress
.hero__progress {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__progress-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;

  @media screen and (min-width: 768px) {
    padding-right: 8px;
    background-image: radial-gradient(
      circle at top 8px right 8px,
      var(--main-text-color) 8px,
      transparent 8px
    );
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 18px;
    background-image: radial-gradient(
      circle at top 15px right 15px,
      var(--main-text-color) 15px,
      transparent 15px
    );
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.hero__progress-list {
  &:not(:last-child) {
    margin-bottom: 13px;
  }

  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.hero__progress-number {
  font-family: 'Titan One', sans-serif;
  @include font(400, 28, 32);
  color: var(--main-accent-color);

  @media screen and (min-width: 1280px) {
    @include font(400, 46, 53);
  }
}

.hero__progress-text {
  margin-top: 2px;
  font-family: 'DM Sans', sans-serif;
  @include font(400, 8, 10);
  text-align: right;
  color: currentColor;

  @media screen and (min-width: 1280px) {
    @include font(400, 14, 18);
  }
}

// Button
.hero__button {
  position: relative;
  z-index: 4;
  display: flex;
  margin-top: 20px;
  @media screen and (min-width: 1280px) {
    margin-top: 25px;
  }
}

.hero__btn--red {
  margin-right: 8px;
}

.hero__link {
  color: currentColor;
}

// Hero about
.hero__about {
  width: 114px;
  margin-top: 66px;
  margin-left: 120px;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    width: 200px;
    margin-top: 112px;
    margin-left: 180px;
  }
}

.hero__about-text {
  @media screen and (min-width: 768px) {
    @include font(400, 8, 12);
  }
  @media screen and (min-width: 1280px) {
    @include font(400, 14, 20);
  }
}

.hero__about-button {
  width: 18px;
  height: 18px;
  margin-top: 7px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-image: url(../images/full-arrow-2x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
    margin-top: 20px;
    background-image: url(../images/full-arrow-1x.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/full-arrow-2x.png);
    }
  }
}

// Images
.hero__img--icecream {
  display: inline-block;
  position: absolute;
  width: 171px;
  height: 410px;
  z-index: 3;
  top: -66%;
  right: 15%;
  transform: translate(0, 0%);
  @media screen and (min-width: 768px) {
    top: -6%;
    right: 30%;
    width: 143px;
    height: 336px;
  }
  @media screen and (min-width: 1280px) {
    top: -7%;
    right: 30%;
    width: 236px;
    height: 557px;
  }

  &:after {
    content: '';
    position: absolute;
    background: #ffa5ba;
    border-radius: 50%;
    z-index: -1;
    width: 346px;
    height: 344px;
    top: -2%;
    right: -75%;
    @media (min-width: 767px) {
      width: 324px;
      height: 322px;
      top: -5%;
      right: -80%;
    }
    @media (min-width: 1280px) {
      width: 538px;
      height: 538px;
      top: -8%;
      right: -80%;
    }
  }
}

.hero__img--milk {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    bottom: -11px;
    left: 0;
  }
}

.hero__img--girl {
  position: absolute;
  right: 0;
  bottom: -34px;
  z-index: 3;
  width: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    right: 0;
    bottom: -56px;
  }
}
