body{

    position: relative;
    &.overflowed{
        overflow: hidden;
    }
}
.is-hidden{
    opacity: 0;
    visibility: hidden ;
    pointer-events: none;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) , opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) , visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-hero {
position: fixed;
background-color: rgba(0, 0, 0, 0.2);
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow-y: scroll;
z-index: 100;
&.is-hidden {
    .backdrop-hero__modal-hero{
    transform: translate(-50%,50%);
}
}
}
.backdrop-hero__modal-hero{
position: absolute;
width: 95%;
height: 610px;
@media (max-width:768px) {
top: 58%;

}
@media (min-width:480px) {
background:url('../images/hero-header/hero-header-modal-bg.png')center/contain no-repeat ;
width: 400px;
height: 700px;
}
@media (min-width:1200px) {
background:url('../images/hero-header/hero-header-modal-bg.png')center/contain no-repeat ;
width: 450px;
height: 730px;
max-width: none;
max-height:none ;
}
background:#c00149;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) , opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) , visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
transform-origin: 0 -100%;

}
.backdrop-hero__close{
cursor: pointer;
position: absolute;
top: 8px;
right: 8px;
border: 1px solid rgba(255, 255, 255, 0.6);
border-radius: 50%;
width: 30px;
height: 30px;
background-color: #fff;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 11px;
    height: 11px;
    fill: var(--main-accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&:hover {
    background-color: var(--main-accent-color);
    svg{
    fill: #fff;
}
}
}


.backdrop-hero__modal-hero {
}
.modal-hero {
    padding:60px 30px 40px 30px;
    font-family: var(--main-font-family);
    @media (max-width:480px) {
    padding: 30px 20px 20px 20px;
    }
    @media (min-width:1200px) {
    padding:80px 40px 40px 40px;
    }
}

.modal-hero__title {
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: #fff;
max-width: 300px;
margin: 0 auto;
}
.modal-hero__form {
    display: block;
    padding: 15px;
}
.modal-hero__list {
}
.modal-hero__item {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

.modal-hero__lable {
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #fff;
margin-bottom: 4px;
}
.modal-hero__input {
    @media (min-width:1200px) {
    width: 100%;
    }
    width: 100%;
    height: 40px;
    padding: 12px 12px 12px 12px;
    border: 2px solid #f590aa;
    border-radius: 4px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border: 2px solid rgba(192, 1, 74, 0.664);
    &~.modal-hero__icon{
    fill:#2196F3;
    }
}
}

.modal-hero__icon{
    fill: #212121;
    position: absolute;
    top: 50%;
    left: 3%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-hero__comment {
}
.comment {
    margin-bottom: 20px;
}
.comment__label {
display: block;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #fff;
margin-bottom: 4px;
}
.comment__input {
    padding:12px 16px;
    @media (min-width:1200px) {
    min-width: 100%;
    }
    min-width: 100%;
    height: 120px;
    border: 2px solid #f590aa;
    border-radius: 4px;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    &:focus {
    border: 2px solid rgba(192, 1, 74, 0.664);
}
}

.modal-hero__agreement {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-hero__checkbox {
position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-hero__checkbox:checked + .checkbox__icon {
  border:2px solid #fff;
  background-color: #d41443;
  background-image: url(../images/hero-header/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;

}
.checkbox__icon {
display: inline-block;
@media (max-width:480px) {
width: 20px;
margin-right: 6px;
}
width: 20px;
height: 15px;
margin-right: 12px;
border: 2px solid #fff;
border-radius: 3px;
cursor: pointer;
transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.modal-hero__link{
@media (min-width:1200px) {
font-size: 14px;
}
font-size: 12px;
line-height: 24px;
letter-spacing: 0.03em;
text-decoration-line: underline;
color: #2196F3;
}
.modal-hero__text{
@media (min-width:1200px) {
font-size: 14px;
}
font-size: 12px;
line-height: 24px;
letter-spacing: 0.03em;
color: #fff;
}
.modal-hero__send{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-hero__button {
padding: 10px 55px;
cursor: pointer;
background-color: #fff;
font-weight: bold;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 0.06em;
color: #c00149;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 22px;
transition:all 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,&:focus{
background-color: var(--main-accent-color);
color: #fff;
}
}
